.c-item-image{
  
    margin-right: 2rem;
    border-radius: .4rem;
    height: 7rem;
    width:  7rem;
   transform-origin: 0 0;

}
.c-item-name, .c-item-size{
    font-family: BDOLight;
    margin: 0%;
    font-size: 1rem;
}
.c-item-price{
    font-size: 1rem;
}
.c-item-size{
    font-weight: 400;
    color: rgb(174, 174, 174);
}
.item-count-wrapper{
    margin-top: .6rem;
    display: flex;
    transform-origin: 0 0;
    scale: 1.62;
}
.checkout-control{
    margin-left: .3rem;
    transform-origin: 0 0;
    scale: .42;
}
.placeholder-item-image-wrapper{
    height: 0;
    width: 0;
}
.placeholder-item-image{
    width: 7rem;
    height: 7rem;
}
@media screen and (max-width:400px) {
    .item-count-wrapper{
        transform-origin: 0 0;
        scale: 1.52;
    }
    .item-count-wrapper svg{
        margin: 0 0rem;
    }
}