.text-span{
    
    overflow-y: hidden;

  
}
.top-text-slider,.bottom-text-slider{
    font-family: DegLight;
}
.bottom-text-slider{

    font-weight: 600;
    color: white;
    height: 0;
}
.top-text-slider{
    font-weight: 600;
}