.swipe-container{
  
    height: 0; 
}
.swipe-container-mech{


    width: 100%;
    height: 10rem;
   margin: 0;
background-color: rgba(108, 101, 113, 0.511);

}
.button-container{
    border: 2px solid black;
    background: none;
    overflow: hidden;
    width: max-content;
}
.button-wrapper{
    background: none;
    width: max-content;
    padding: .1rem ;
   

    border: 1px dashed black;
    
}