.search-slider-container{
    
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;

}
.search-slider,.blur-filter{
    width: 100%;

  
}
.search-slider{
  background: linear-gradient(-180deg, rgba(207,207,207,1) 0%, rgba(247,247,247,1) 11%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
  border-bottom: 1px solid black;  
  height: 55%;
    padding: 17vh 20vw 0 20vw;
}
.blur-filter{
   

    filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 45%;
}
.input-form {
    background: none;
    border: unset;
    border: 0;
    height: 2rem;border: 0;
    box-shadow: none;
    
}
.search-item-image,.search-placeholder-item-image{
    border-radius: .3rem;
    width: 5rem;
    height: 5rem;
}
.search-item-nav-text{
    text-align: center;
    line-height: 1rem;
    padding: 0;
}
.search-item-name{
    width: 15ch;
    overflow: hidden;
    text-overflow:ellipsis;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.search-placeholder-item-image-wrapper{
    height: 0;
    width: 0;
}


@media screen and (max-width:400px) {
    .search-slider{
        background: linear-gradient(-180deg, rgba(207,207,207,1) 0%, rgba(247,247,247,1) 11%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
        border-bottom: 1px solid black;  
        height: 30rem;
        display: flex;
        place-content: center;
        padding-top: 10rem;
        
      }
      .search-placeholder-item-image, .search-item-image{
        border-radius: .2rem; 
        width: 4rem;
        height: 4rem;
      }
     
    
    .search-item-name{
        font-size: 1rem;
    }
    .search-item-nav-text{
        text-align: center;
        line-height: .5rem;
        padding: 0;
    }
}
