
.product-page-container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        
}
.product-page-title{
    font-family: DegReg;
    margin-top: 5rem;
    width: 85%;
    text-align: center;
}
.video-container{

    border-radius: 2rem;
    width: 120vw;

}
.video-mega-container{
    
 
    overflow: hidden;
    height: 40rem;
    width: 100vw;
    
}
.top-gradient-container{
    z-index: 10;
    height: 0;
}
.top-gradient{
   width: 100vw;
    height: 20rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.0015903525026689) 84%, rgba(255,255,255,0) 100%);}
@media screen and (max-width:500px) {
    .video-mega-container{
        margin-top: 10rem;
        height: 18rem;
 
        overflow: hidden;
    
        width: 100vw;
        
    }
    
    .video-container{

        border-radius: 1rem;
        width: 165vw;
    }
    .product-page-title{
        font-family: DegReg;
      
        width: 85%;
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }
    

}