
.product-page-container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        
}
.product-page-title{
    font-family: DegReg;
    margin-top: 5rem;
    letter-spacing: -2px;
    word-spacing: .7rem;
    width: 85%;
    text-align: center;
}
.video-container{

    border-radius: 2rem;
    width: 90vw;

}
.video-mega-container{
    
 
    overflow: hidden;
    height: 60rem;
    width: 90vw;
    
}

.vid-placeholder-wrapper{
    overflow: hidden;
 height: 100vh;
    width: 90vw;
}
.vid-placeholder{
    border-radius: 2rem;
    height: 50vw;width: 90vw;
}


@media screen and (max-width:500px) {
    .vid-placeholder-wrapper{
        margin-top: 4rem;
        overflow: hidden;
        height: 15rem;
  
        width: 100vw;
    }
    .vid-placeholder{
        border-radius: .1rem;
        height: 15rem;
        width: 100vw;
    }


    .video-mega-container{
        margin-top: 4rem;
        
 
        overflow: hidden;
     
        width: 100vw;
        height: 15rem;
        
    }
    
    .video-container{
     
        border-radius: .1rem;
        width: 100vw;
        height: 15rem;
    }
    .product-page-title{
        font-family: DegReg;
      
        width: 85%;
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }
    .top-gradient-container{
        z-index: 10;
        height: 0;
    }
    .top-gradient{
       width: 100vw;
        height: 12rem;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.15903525026689) 84%, rgba(255,255,255,0) 100%);}

}