
.starter-container{

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    height: 95vh;
    padding-left:10rem;

}
.starter-text:nth-child(1){
    color: white;
   
    font-family: DegReg;
    margin: 0;
    font-size: 6rem;
}
.starter-text:nth-child(2){
    color: white;
    font-family: BDOLight;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6rem;
    max-width: 25ch;

}
.starter-tint-container{
    height: 1rem;

}

.starter-background-container{
 
   
  
    
    height: 0;
    margin: 0%;
    padding: 0%;
   
}
.starter-background{
    margin: 0%;
    padding: 0%;
    height: 90vh;
    background-color: #00000094;

    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.b-cloud-image{

z-index: -1;
  height:  104vh;
    transform-origin: 50% 50%;
}
.starter-button{
    width: max-content;
    padding: 1rem 6rem;
    border: none;
    color: white;
    border: 1px solid black;
    background-color: rgb(125, 125, 125);
    border-radius: .51rem;
    font-size: 1.2rem;
    font-weight: 500;

}
.intro-item-button-text{

    color: rgb(232, 232, 232);
    font-family: BDOLight;
    font-size: 1.8rem;
    color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

}
.shopping-option-container{
    
    margin-top: 15rem;
    margin-bottom: 10rem;
 
}

.option-text{
   
    font-family: DegReg;

    height: 100%;
    width: 100%;
  
}
.shopping-options{
 
    overflow: hidden;
    margin: .4rem;
    width: 41vw;
  border-radius: .81rem;
  border: 2px solid black;

}
.shopping-options-1{

    background-size: cover;
   
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    transition-duration: 200ms;
}
.shopping-options-wrapper{

    overflow: hidden;
}
.shopping-options-2{
    
    background-size: cover;
    background-color: rgba(1, 1, 1, 0.1);
    background-blend-mode: multiply;
    background-image: url(../../assets/BundleSkinCareRender.png);
    transition-duration: 200ms;
}


.shopping-options-2:hover,.shopping-options-1:hover{
    

    background-color: rgb(48, 48, 48);
   
}
.option-button{
    border: 1px solid black;

}
.nav-labels{
    font-family: DegReg;
}

.first-image{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.option-tint-container{
   
    justify-self: flex-start;
    align-self: flex-start;
    height: 0;
    width: 100%;
    position: relative;
}
.option-tint{
    
    height: 10rem;
}


.card{
    display: flex;
    justify-content: flex-end;
    border:none
} 
.swipe-button{
    font-size: 1.2rem;
}
@media screen and (max-width:500px) {
    .starter-background{
        margin: 0%;
        padding: 0%;
        height: 40vh;
        background-color: #00000084;
        
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    .starter-container{
        height: 40vh;
        padding: 0% 0 2rem 0;
        align-items: center;
        justify-content: end;

    }
    .b-cloud-image{
        background-blend-mode: multiply;
        
        height:  80vw;
        transform-origin: 50% 50%;
    }
    .shopping-options-wrapper{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .shopping-options{
        margin: .4rem;
        width: 90vw;
  

    }
    .shopping-option-container{
        

        margin-top: 5rem; 
        margin-bottom: 5rem;
     
    }
    .option-text{
        padding: 0;
        text-align: center;
    }
    .card{
        display: flex;
        justify-content: flex-end;
        border:none
    }
    .starter-text:nth-child(1){
        font-size: 2rem;
    }
    .starter-text:nth-child(2){
        text-align: center;
        font-size: .9rem;
    }
    .intro-item-button-text{
        font-size: 1rem;
    }
    .nav-labels{
        font-size: 1.2rem;
    }
    .swipe-button{
        font-size: .9rem;
    }
}