
.starter-container{
    height: 75vh;
}
.starter-text:nth-child(1){
    font-family: DegReg;
    margin: 0;
    font-size: 4rem;
}
.starter-text:nth-child(2){
    font-family: BDOLight;
    font-weight: 400;
    text-transform: capitalize;
}
.starter-background-container{
 
   
   
    
    height: 0;
    margin: 0%;
    padding: 0%;
   
}
.starter-background{
    margin: 0%;
    padding: 0%;
    height: 72vh;
    background-color: rgb(65, 119, 172);
}
.starter-button{
    width: max-content;
    padding: 1rem 6rem;
    border: none;
    color: white;
    border: 1px solid black;
    background-color: rgb(125, 125, 125);
    border-radius: .51rem;
    font-size: 1.2rem;
    font-weight: 500;

}
.intro-item-button-text{
    
    color: rgb(2, 2, 2);
    font-family: BDOLight;
    font-size: 1.2rem;

}
.shopping-option-container{

    margin-top: 5rem;
    margin-bottom: 10rem;
 
}
.option-text{
   
    font-family: DegReg;
    padding-left: 8vw;
    height: 100%;
    width: 100%;
  
}
.shopping-options{
 
    overflow: hidden;
    margin: .4rem;
    width: 41vw;
  border-radius: .81rem;

}
.shopping-options-1{
    
    background-size: cover;
    background-image: url(../../assets/SinglesSkincareRender.png);
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    transition-duration: 200ms;
}
.shopping-options-wrapper{

    overflow: hidden;
}
.shopping-options-2{
    
    background-size: cover;
    background-color: rgba(1, 1, 1, 0.1);
    background-blend-mode: multiply;
    background-image: url(../../assets/BundleSkinCareRender.png);
    transition-duration: 200ms;
}


.shopping-options-2:hover,.shopping-options-1:hover{
    

    background-color: rgb(48, 48, 48);
   
}
.option-button{
    border: 1px solid black;

}
.nav-labels{
    font-family: DegReg;
}

.first-image{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.option-tint-container{
   
    justify-self: flex-start;
    align-self: flex-start;
    height: 0;
    width: 100%;
    position: relative;
}
.option-tint{
    
    height: 10rem;
}

.optimized-image-container{
    border: 2px solid black
}
.card{
    display: flex;
    justify-content: flex-end;
    border:none
} 
.swipe-button{
    font-size: 1.2rem;
}
@media screen and (max-width:500px) {
    .shopping-options-wrapper{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .shopping-options{
        margin: .4rem;
        width: 90vw;
        border: 1px solid black;

    }
    .shopping-option-container{
          
        margin-bottom: 5rem;
     
    }
    .option-text{
        padding: 0;
        text-align: center;
    }
    .card{
        display: flex;
        justify-content: flex-end;
        border:none
    }
    .starter-text:nth-child(1){
        font-size: 2rem;
    }
    .starter-text:nth-child(2){
        font-size: .9rem;
    }
    .intro-item-button-text{
        font-size: 1rem;
    }
    .nav-labels{
        font-size: 1.2rem;
    }
    .swipe-button{
        font-size: .9rem;
    }
}